* {
    box-sizing: border-box;
}

html {
    background-color: gray;
}
body {
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.quiz-container {
    border: black solid 4px;
    max-width: 80%;
    text-align: center;
    margin: auto;
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}